* {
    padding: 0;
    margin: 0;
}

.showcase {
    width: calc(100% - 200px);
    height: 100%;;
    position: absolute;
    left: 200px;
}

.itemlist {
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0px;
}

.item {
    cursor: pointer;
    user-select: none;
}